* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
}
body {
  background: rgb(41, 41, 41);
}
form {
  background: black;
  width: 40%;
  margin: 10em auto;
  padding: 1.5em 2em;
  border: 0;
  border-radius: 2em;
  box-shadow: 0 0 10px rgb(54, 54, 54);
}
form h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em auto;
  text-transform: uppercase;
  color: #fff;
}
form div {
  margin: 1em auto;
  width: 80%;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 1.5em;
  display: flex;
}
form div label {
  color: #fff;
  background: rgb(3, 45, 160);
  padding: 0.8em;
  height: auto;
  border-radius: 1em;
}
form div input {
  width: 100%;
  outline: none;
  padding-left: 1em;
  border: none;
  background: transparent;
}

form .btn {
  width: 60%;
  margin: 1em auto;
}
button {
  width: 100%;
  padding: 0.8em;
  color: white;
  font-weight: 600;
  background: rgb(3, 45, 160);
  outline: none;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
